<h2 cg-busy="term.$promise"><span class="badge">Phenotype</span> {{term.label}} <small>{{termID}}</small></h2>
<div class="row">
    <div class= "col-sm-12">
        <tabset>
            <tab heading="Classification">
                <div class="panel panel-default top-buffer">
                    <div class="panel-body">
                        <classification iri="termID" link-filter="linkToEntity"></classification>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>